@CHARSET "ISO-8859-1";

/* Body Default - Color-Set */
body {
    color: #000000;
    font-family: "Arial", sans-serif;
    font-size: 12px;
    background-color: #FFFFFF;
    margin:0;
    padding:0;
    height:100%;
}





/* Body Default - Height-Set */
html {
    margin:0;
    padding:0;
    height:100%;
}





/* Image Logo (oben links) */
IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 213px;
    height: 85px;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    padding-bottom: 3px;
}





/* Default Link - Color-Set*/
a:link {
    text-decoration: none;
    color: #000000;
}
a:visited {
    text-decoration: none;
    color: #000000;
}
a:hover {
    text-decoration: none;
    color: #000000;
    box-shadow: 4px 5px 4px grey;
}
a:active {
    text-decoration: none;
    color: #000000;
    box-shadow: 4px 5px 4px grey;
}


/* Standard Link - Color-Set */
a.std:link, a.std:visited, a.std:hover, a.std:active {
    color: #000000;
    text-decoration: none;
}
a.std:hover {
    background-color: rgba(204, 252, 255, 1);
    box-shadow: 4px 5px 4px grey;
}
a.std:active {
    color: darkgreen;
}





/* Table */
table.standard {
    border-collapse: collapse;
    font-family: "Arial", sans-serif;
    font-size: 12px;
    background-color: #FFFFFF;
}
table.logedinUser {
    padding-top: 12px;
}
table.debugInformation {
    background-color: #c7c7c7;
    width: 100%;
}
table.debugLinkList {
    background-color: rgb(233, 233, 233);
    width: 100%;
    padding: 10px;

}
table.debugContentSelection {
    background-image: linear-gradient(90deg, rgba(186, 243, 250, 0.67), white);
    text-align: left;
    white-space:nowrap;
}
td.debugLinkList {
    padding: 5px;
    text-align: left;
}




/* Border Steuerung für Tabellen */
.rightLine{
    border-right: 1px solid black;
}
.topLine{
    border-top: 1px solid black;
}
.leftLine{
    border-left: 1px solid black;
}
.bottomLine{
    border-bottom: 1px solid black;
}
.bottomLineGreen{
    border-bottom: 1px solid rgb(122, 167, 170);
}
.borderGreen{
    border: 1px solid rgb(122, 167, 170);
}



/* AUSRICHTUNGEN */

/* Text Ausrichtung */
.textCenter{
    text-align: center;
}
.textLeft{
    text-align: left;
}
.textRight{
    text-align: right;
}



/* Tabellen Ausrichtung */
.alignCenter{
    text-align: center;
}
.alignLeft{
    text-align: left;
}
.alignRight{
    text-align: right;
}


/* Paddings und Abstände */
.rPaddingSix {
    padding-right: 6px;
}
.lPaddingSix {
    padding-right: 6px;
}


.nobr	{ white-space:nowrap; }