@CHARSET "ISO-8859-1";

/* Global Div - Container-Set */
.container {
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 1);

    padding: 5px;
    text-align: left;
}


/* Individual Div - Container-Set */
.Head {
    z-index: 100;
    top: 5px;
    height: 140px;
    /*background-color: #aaa767;*/
}

.Head.Left {
    width: 260px;
    left: 5px;
    /*text-align: center;*/
}

.Head.Center {
    left: 280px;
    right: 300px;
    background-color: #aaa767;
}

.Head.Right {
    width: 280px;
    right: 5px;
    background-color: #aaa767;
}


/* Individual Div - Container-Set */
.NavigationOuter {
    overflow: hidden;
    z-index: 110;
    top: 156px;
    left: 5px;
    width: 260px;
    height: 24px;
    background-color: rgba(255, 255, 255, 1);
    -webkit-transition: height 1s; /* For Safari 3.1 to 6.0 */
    transition: height 0.5s;
}
.NavigationOuter:hover {
    height: 148px;
}
.Navigation {
    z-index: 110;
    /*top: 159px;*/
    top: 3px;
    left: 4px;
    width: 251px;
    height: 16px;
    background-color: rgba(186, 187, 175, 0.71);
}


/* Individual Div - Container-Set */
.StepInformation {
    z-index: 100;
    top: 160px;
    left: 280px;
    right: 5px;
    height: 16px;
    background-color: #3b6da0;
}


/* Individual Div - Container-Set */
.DebugOptionsOuter {
    z-index: 110;
    top: 156px;
    right: 5px;
    width: 250px;
    height: 24px;
    background-color: rgba(255, 255, 255, 1);
}
.DebugOptions {
    z-index: 110;
    top: 3px;
    right: 4px;
    width: 240px;
    height: 16px;
    background-color: rgba(186, 187, 175, 0.71);
}
.DebugButtons {
    position: absolute;
    width: 50px;
    text-align: center;
    top: 2px;
    height: 18px;
    padding-top: 3px;
}
.DebugButtons:hover{
    border: 1px solid rgba(128, 128, 128, 0.75);
}
.DebugUpDown {
    left: 10px;
}
.DebugSettings {
    left: 70px;
}
.DebugLinks {
    left: 130px;
}
.DebugMove {
    left: 190px;
}
.DebugUpDown:hover{
    cursor:n-resize;
}
.DebugSettings:hover{
    cursor:help;
}
.DebugLinks:hover{
    cursor:row-resize;
}
.DebugMove:hover{
    cursor:move;
}


/* Individual Div - Container-Set */
.BodyContent {
    z-index: 100;
    overflow: auto;
    top: 191px;
    left: 5px;
    right: 5px;
    /*bottom: 36px;*/
    background-color: #83a094;
}


/* Individual Div - Container-Set */
.Footer {
    z-index: 100;
    overflow: auto;
    left: 5px;
    right: 5px;
    bottom: 5px;
    /*height: 16px;*/
    background-color: cadetblue;
}








