@CHARSET "ISO-8859-1";

/* Global Div - Container-Set */
.container {
    position: absolute;
    border: 1px solid rgb(122, 167, 170);

    padding: 5px;
    text-align: left;
}


/* Individual Div - Container-Set */
.Head {
    z-index: 100;
    top: 5px;
    height: 140px;
    /*background-color: #aaa767;*/
}

.Head.Left {
    width: 260px;
    left: 5px;
    /*text-align: center;*/
}

.Head.Center {
    overflow: auto;
    left: 280px;
    right: 300px;
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
}
.Head.CenterLogin {
    overflow: auto;
    left: 280px;
    right: 5px;
    background-color: rgba(255, 255, 255, 1);
}

.Head.Right {
    width: 280px;
    right: 5px;
    background-color: rgba(255, 255, 255, 1);
}


/* Individual Div - Container-Set */
.NavigationOuter {
    overflow: hidden;
    /*z-index: 110;*/
    z-index: 110;
    top: 156px;
    left: 5px;
    width: 260px;
    height: 24px;
    background-color: rgba(255, 255, 255, 1);
    /*background-image: linear-gradient(to bottom, #FFFFFF, transparent);*/
    transition: height 0.5s;
}
.NavigationOuter:hover {
    height: 680px;

}
.Navigation {
    z-index: 110;
    top: 3px;
    left: 4px;
    width: 251px;
    height: 16px;
    /*background-color: rgb(168, 228, 104);*/
    background-image: linear-gradient(to right, rgb(168, 228, 104), transparent);
}


/* Individual Div - Container-Set */
.StepInformation {
    z-index: 100;
    top: 160px;
    left: 280px;
    right: 5px;
    height: 16px;
    /*background-color: rgba(255, 255, 255, 1);*/
    background-image: linear-gradient(90deg, rgba(186, 243, 250, 0.67), transparent);
}


/* Individual Div - Container-Set */
.DebugOptionsOuter {
    z-index: 110;
    top: 203px;
    right: 15px;
    width: 250px;
    height: 24px;
    background-color: rgba(255, 255, 255, 1);
}
.DebugOptions {
    z-index: 110;
    top: 3px;
    right: 4px;
    width: 240px;
    height: 16px;
    background-color: #c7c7c7;
}
.DebugButtons {
    position: absolute;
    width: 50px;
    text-align: center;
    top: 2px;
    height: 18px;
    padding-top: 3px;
}
.DebugButtons:hover{
    border: 1px solid rgba(128, 128, 128, 0.75);
}
.DebugUpDown {
    left: 10px;
}
.DebugSettings {
    left: 70px;
}
.DebugLinks {
    left: 130px;
}
.DebugMove {
    left: 190px;
}
.DebugUpDown:hover{
    cursor:n-resize;
}
.DebugSettings:hover{
    cursor:help;
}
.DebugLinks:hover{
    cursor:row-resize;
}
.DebugMove:hover{
    cursor:move;
}



.DebugLinkListOuter {
    position: relative;
    z-index: 110;
    top: 25px;
    right: 130px;
    width: 300px;
    height:auto;
    background-color: rgba(255, 255, 255, 1);
}
.DebugLinkList {
    position: relative;
    z-index: 110;
    width: 289px;
    height:auto;
    background-color: rgb(233, 233, 233);
}




/* Individual Div - Container-Set */
.BodyContent {
    z-index: 100;
    overflow: auto;
    top: 191px;
    left: 5px;
    right: 5px;
    /*bottom: 36px;*/
    background-color: rgb(233, 233, 233);
}

.BodyContentLogin {
    background-color: #FFFFFF;
    border: none;
}


/* Individual Div - Container-Set */
.Footer {
    z-index: 100;
    overflow: hidden;
    left: 5px;
    right: 5px;
    bottom: 5px;
    /*height: 16px;*/
    background-image: linear-gradient(90deg, rgba(204, 252, 255, 1), transparent);
}





.debugContentSelections {
    z-index: 999;
    position: fixed;
    right: 5px;
    left: 10px;
    bottom: -45px;
    border-right: 1px solid rgb(122, 167, 170);
}


.debugSelectionTab {
    position: relative;
    width: auto;
    bottom: -1px;
    height: 20px;
    background-color: rgb(170, 228, 109);
    border-radius: 10px 10px 2px 2px;
    text-align: center;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;

    border-top: 1px solid rgb(122, 167, 170);
    border-left: 1px solid rgb(122, 167, 170);
    border-right: 1px solid rgb(122, 167, 170);
}

.debugSelectionTab:hover{
    cursor: pointer;
}

.divHiddenOnLoad {
    display: none;
}

.lastDebugSelection {
    width: 100px;
}








