@CHARSET "ISO-8859-1";

.tmp {
    overflow: hidden;
    top: 100px;
    width: 150px;
    height: 20px;
    margin-top:10px;
    padding-top: 5px;
    padding-left: 4px;
    background: #c5ff9c;
    border: 1px solid rgba(0, 0, 0, 1);
    -webkit-transition: width 0.5s; /* For Safari 3.1 to 6.0 */
    transition: width 0.5s;
}

.tmp:hover {
    width: 250px;
}