@CHARSET "ISO-8859-1";
/* Postition Innere Navigations-Bar*/
.DivNavigationBar {
    position: absolute;
    top: 0;
    left: 0;
}

.dropbtn {
    background-color: rgba(81, 81, 81, 0.35);
    color: #E8E8E8;
    padding: 11px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    padding: 0px;
    font-size: 12px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px 12px 32px;
    text-decoration: none;
    display: block;
}

.dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #E8E8E8
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background: #3C3F41;
}

.dropdown-active {
    background-color: rgb(66, 147, 66);
    color: white;
}

.dopddown-headline {
    padding: 24px 12px 12px;
    border-bottom: 1px dashed #6b6b6b;
}
.dopddown-headline-first {
    padding: 10px 12px 12px;
    border-bottom: 1px dashed #6b6b6b;
}

/* END Horizontal Navigation */




